.slider_line {
    display: flex;
    transition: all 1s;
}




#next_slide {
    padding: 20px 50px;
    cursor: pointer;
    display: none;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}