body {
    font-family: Montserrat, sans-serif;

}

.container {
    text-align: center;

}
#okno{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    height: 70%;
    width: 70%;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.track {
    position: relative;
    width: 80%;
    height: 20px;
    background-color: #ccc;
    margin: 20px auto;
    border-radius: 10px;
}

.center-line {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #000;
    position: absolute;
}

.marker {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 70%;
    position: absolute;
}

.controls {
    margin-top: 20px;
}
