* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background-color: #AAD94A;
}

::selection {
    color: white;
    background-color: #AAD94A;
}

i.material-icons i.material-symbols-outlined {
    font-size: 20px;
    padding: 2px;
}

header {
    background-color: #EDF0F2;;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    display: flex;
    place-content: flex-end;

}

header ul.topper {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    height: 50px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

header a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
}

header a:hover {
    background-color: #CCFA5B;
}

header .topper li:first-child {
    font-weight: bold;
    margin-right: auto;
    width: auto;
}

div.menu {
    display: none;
    width: 200px;
    margin-left: -140px;
    margin-top: 200px;
    padding: 10px;
    background-color: rgba(250, 253, 255, 0.9);
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);

}

div.menu ul.menulist li {
    width: 100%;
    display: grid;
    place-content: center;
}

.menu .menulist li {
    color: #AAD94A;
}

.menu .menulist li:first-child {
    font-size: 15px;
}

div.menu li:hover {
    background-color: #CCFA5B;
    color: #000000;
}

body {
    background: radial-gradient(circle at center, #EDF0F2 75%, #CCFA5B 100%);
}

main {
    display: flex;
    justify-content: space-evenly;
}
main li {
    padding: 10px;
}

.profession {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding: 10vh;
}

.functions {
    display: flex;
    border: solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: auto;
    width: auto;
}

aside.tasks {
    font-weight: bold;
    font-size: 20px;
    width: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;

}

.funcList {
    display: grid;
    place-items: center;
}


.pvk {
    border: solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 40px;
}

.pvkHeader {
    display: flex;
    place-items: center;
    padding: 10px;
}


p.PVKname {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}
.pvkHeader .hiddenElement{
    display: none;
}
.pvkHeader i.material-icons, .pvkHeader i.material-symbols-outlined {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    display: flex;

}

.pvkHeader i.material-icons:hover, .pvkHeader i.material-symbols-outlined:hover{
    border: 2px rgba(0, 0, 0, 0.2);
    background-color: #dddddd;
    border-radius: 5px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.pvkHeader .edit{
    display: block;
}
.pvkHeader .done{
    display: none;
}
.pvkList li:hover {
    background-color: #DFDFDF;
}
.pvkList .item .material-icons{
    display: flex;
    position: absolute;
    place-content: end;
}
.item.dragging{
    opacity: 0;
}
