* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background-color: #AAD94A;
}

::selection {
    color: white;
    background-color: #AAD94A;
}

i.material-icons {
    font-size: 20px;
    padding: 2px;
}

li {
    list-style: none;
}

header {
    background-color: #EDF0F2;;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    position: sticky;
    display: flex;
    place-content: flex-end;

}

header ul.topper {

    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    height: 50px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

header a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
}

header a:hover {
    background-color: #CCFA5B;
}

header .topper li:first-child {
    font-weight: bold;
    margin-right: auto;
    width: auto;
}

div.menu {
    display: none;
    width: 200px;
    margin-left: -140px;
    margin-top: 250px;
    padding: 10px;
    background-color: rgba(250, 253, 255, 0.9);
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);

}

div.menu ul.menulist li {
    width: 100%;
    display: grid;
    place-content: center;
}

.menu .menulist li {
    color: #AAD94A;

}

.menu .menulist li:first-child {
    font-size: 15px;
}


.menulist .profiles {
    font-size: 15px;
}


div.menu li:hover {
    background-color: #CCFA5B;
    color: #000000;
}

body {
    background: radial-gradient(circle at center, #CCFA5B 0%, #EDF0F2 100%);
    display: grid;
}

main {
    display: flex;
    place-content: center;
}

.profileinfo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info {
    background-color: rgba(250, 253, 255, 0.7);
    border-radius: 50px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}

.picture {
    box-shadow: 0 0 20px #AAD94A;
    border-radius: 50%;
    background-color: #EDF0F2;
    padding: 10px;
    display: flex;
    place-content: center;
}

.picture img {
    border-radius: 50%;
    height: 35vh;
    width: 35vh;
}

.profileinfo .other {
    width: 100%;
}

.profileinfo .name {
    font-size: 40px;
    width: auto;
    font-weight: bold;
    display: flex;
    place-content: center;
    height: auto;
}

.profileinfo .hiddenElement {
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.profileinfo hr {
    color: rgba(0, 0, 0, 0.2);
}

.profileinfo .nameW {
    display: flex;
    flex-direction: row;
    place-content: start;
    flex-grow: 1;
    padding-left: 10px;

}

.profileinfo .message {
    font-size: 15px;
    font-weight: normal;
    z-index: 1;
    display: none;
}

.tests {
    margin-top: 20px;
    width: auto;
    display: flex;
    place-content: center;
    flex-direction: column;
}

.tests .test {
    padding: 10px;
    border: solid rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    width: 70%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;

}
.tests .test:hover{
    background-color: #DFDFDF;
}
.tests a{
    text-decoration: none;

}
.tests a:visited{
    color: black;
}
.tests a:hover{
    color: #000000;
}
.info .title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.info hr{
    color: rgba(0,0,0,0.9);
}
.profileinfo-mini{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.profileinfo-mini:hover{
    background-color: #f0f0f0;
    border-radius: 20px;
    width: auto;
}

.profileinfo-mini .picture-mini{
    box-shadow: 3px 3px 3px #AAD94A;
    border-radius: 50%;
    background-color: #EDF0F2;
    display: flex;
    place-content: center;
}
.profileinfo-mini .picture-mini img {
    border-radius: 50%;
    height: 4em;
    width: 4em;
}
.profileinfo-mini .name-mini{
    font-size: 20px;
    padding-left: 15px;
    display: flex;
    place-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.profileinfo-mini .hiddenElement{
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.profileinfo-mini i.material-symbols-outlined{
    font-size: 15px;
}
.stat{
    position: absolute;
    display: none;
    background-color: rgba(237, 240, 242,0.9);
    backdrop-filter: blur(5px);
    height: 70dvh;
    width: 70dvw;
    padding: 20px;
    box-sizing: content-box;
    top: 10%;
    border-radius: 40px;
    z-index: 2;
    animation: fade-in 0.5s forwards;
    place-content: center;
    flex-direction: column;
    h1{
        display: flex;
        place-content: center;
        font-size: 40px;
        font-weight: bold;
        padding: 20px;
    }

}
.buttons {
    display: flex;
    width: 100%;
    place-content: center;
    height: 70dvh;
    cursor: pointer;
}
.buttons .prev {
    position: relative;
    left: 0;
    margin-right: auto;
    display: flex;
    place-items: center;
    height: auto;
    cursor: pointer;
}
.buttons .next {
    position: relative;
    right: 0;
    margin-left: auto;
    display: flex;
    place-items: center;
    height: auto;
    cursor: pointer;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.statbutton{
    display: flex;
    place-content: center;
    margin-top: 10px;
    button{
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px;
    }
}