* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.side{
    height: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
}

.side .sidepanel {
    top:0;
    left: 0;
    display: none;
    z-index: 5;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    animation: appear 250ms ease-in-out;
    height: 100%;
    width: 250px;
    border: 1px rgba(0, 0, 0, 0.1);

}
aside.side .sidelist li:first-child{
    display: flex;
    padding: 0;
    place-items: center;
    width: auto;
}
aside.side .sidelist li{
    display: flex;
    flex-direction: column;
    place-items: start;
    width: auto;
}
aside.side .sidelist li a{
    display: flex;
    padding: 20px;
    color: black;
    width: 100%;
    height: auto;
    text-decoration: none;
}
aside.side .sidelist li a i{
    padding-right: 10px;
}
aside.side .sidelist li.exit{
    margin-top: auto;
}
aside.side .sidelist .divInfo li:hover{
    background-color: transparent;
    cursor: context-menu;
}
aside.side .sidelist li:hover{
    background-color: #dddddd;
}
aside.side .sidelist li:active{
    background-color: #CCFA5B;
    outline: none;
}

.side .sidelist .divInfo{
    background: linear-gradient(135deg, rgba(164,244,226,1) 0%,  rgba(181,255,156,1) 70%);
    width: 100%;
    display: flex;
    padding: 20px 0;
    place-content: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.divInfo .ulInfo{
    display: flex;
    padding: 5px 10px 0;
}
.ulInfo .name{
    display: flex;
    place-content: center;
    font-weight: bold;
    font-size: 20px;
}
.avatarka{
    background-color: #EDF0F2;
    border-radius: 50%;
    padding: 5px;
}
.side .sidelist .picture img{
    display: flex;
    place-content: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.overlay {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade 350ms;
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 25%;
    }
    50% {
        opacity: 50%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes appear {
    0% {
        transform: translateX(-300px);
    }
    10% {
        transform: translateX(-260px);
    }
    20% {
        transform: translateX(-230px);
    }
    30% {
        transform: translateX(-200px);
    }
    40% {
        transform: translateX(-170px);
    }
    50% {
        transform: translateX(-160px);
    }
    60% {
        transform: translateX(-150px);
    }
    70% {
        transform: translateX(-140px);
    }
    80% {
        transform: translateX(-130px);
    }
    90% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

.overlay.visible {
    display: block;
}
aside.side .sidelist li {

}
.sidelist li:last-child{
    margin-top: auto;
}

