* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background-color: #AAD94A;
}

::selection {
    color: white;
    background-color: #AAD94A;
}

i.material-icons i.material-symbols-outlined {
    font-size: 20px;
    padding: 2px;
}

li {
    list-style: none;
}

header {
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header ul.topper {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    height: 50px;
    display: grid;
    place-items: center;
}

header a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;

}

header a:hover {
    background-color: #CCFA5B;
}

header .topper li:first-child {
    font-weight: bold;
    margin-right: auto;

}

header {
    width: auto;
    height: auto;
    display: flex;
    place-content: flex-end;
}

div.enter {
    display: grid;
}

div.reg {
    display: none;
}

body {
    min-height: 10dvh;
    background-color: #EDF0F2;
    display: grid;
}

div.RegWindow {
    display: none;
    z-index: 1;
    background-color: rgb(250, 253, 255, 1);
    font-family: "Quicksand", sans-serif;
    place-content: center;
    width: auto;
    height: auto;
    padding: 30px 50px;
    border-radius: 50px;
    position: absolute;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
hr {
    border: 1px solid #f0f0f0;
    margin-bottom: 25px;
}

.RegWindow h1 {
    padding-bottom: 10px;
    place-items: center;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.enterbtn, .registerbtn {
    background-color: #CCFA5B;
    color: black;
    font-family: "Montserrat", sans-serif;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.enterbtn:hover, .registerbtn:hover {
    background-color: #AAD94A;
}

.RegWindow a {
    color: black; /*#CCFA5B;*/
    text-decoration: #CCFA5B;
    font-weight: bold;
}

ul.registerlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.registerlist .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.registerlist .material-icons:hover {
    border: 2px rgba(0, 0, 0, 0.2);
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);

}

.registerlist li:first-child {
    margin-right: auto;
}

.RegWindow a:hover {
    color: #AAD94A;
    text-decoration: #CCFA5B;
    cursor: pointer;
}

p.title {
    color: black;
    font-size: 70px;
    justify-content: center;
    width: auto;
}

.laba {
    height: 50vh;
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;

}

.AAAAAAA {
    background: radial-gradient(ellipse at center, #CCFA5B 30%, #EDF0F2 60%, transparent 100%);
    /*rgb(204,250,91);
    border-radius: 0 0 50rem 50rem;*/
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.yaNeZnayu {
    display: flex;
    place-content: center;
    position: sticky;
}

.list {
    padding-top: 20px;
}

.list ul {
    width: 100%;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.list li {
    height: 50px;
    display: flex;
    place-content: center;
    padding: 3vh 0;

}

.list a {
    display: grid;
    place-content: center;
    width: 80vh;
    height: auto;
    background-color: #EDF0F2;
    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 20px;
    font-family: "Montserrat", serif;
}

.list a:link {
    color: black;
}

.list a:visited {
    color: black;
}

.list a:hover {
    color: #000000;
    background-color: #DFDFDF;
    box-shadow: inset rgba(0, 0, 0, 9);
}

footer {

}

footer .heart {
    display: flex;
    place-content: center;
}

footer .material-icons {
    font-size: 40px;
    color: #CCFA5B;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-top: 35px;
    text-shadow: 0 0 10px;
}

footer .material-icons:hover {
    color: #AAD94A;
    filter: drop-shadow(0 0 10px #EDF0F2);
    cursor: pointer;
}

.popug {
    display: none;
    place-content: center;
    margin-top: 10px;
}

.RegWindow.wrong {
    animation: simpleshake 0.3s forwards;
}

.RegWindow.wrong input[type=text],
.RegWindow.wrong input[type=password] {
    background-color: rgba(255, 100, 100, 0.5);
}

@keyframes simpleshake {
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}
