* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, #F9F9F9 25%, #EDF0F2 50%, #F9F9F9 75%, #EDF0F2 100%);
}

::-moz-selection {
    color: white;
    background-color: #AAD94A;
}

::selection {
    color: white;
    background-color: #AAD94A;
}

i.material-icons i.material-symbols-outlined {
    font-size: 20px;
    padding: 2px;
}

header {
    background-color: #EDF0F2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    display: flex;
    place-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 2;
}

header ul.topper {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    height: 50px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

header a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

header a:hover {
    background-color: #CCFA5B;
}

header .topper li:first-child {
    font-weight: bold;
    margin-right: auto;
    width: auto;
}

.carousel {
    display: flex;
    position: relative;
}

.carousel .block {
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0;
    place-content: center;
    place-items: center;
    cursor: pointer;
    position: absolute;
    display: none;
}

.container button {
    position: relative;
    background: transparent;
    border: none;
}

.buttons {
    display: flex;
    width: 100%;
    place-content: center;
    height: 70dvh;
    cursor: pointer;
}

.container button i {
    color: black;
    cursor: pointer;
    padding: 0 20px;
}

.buttons .prev {
    position: relative;
    left: 0;
    margin-right: auto;
    display: flex;
    place-items: center;
    height: auto;
    cursor: pointer;
}

.buttons .next {
    position: relative;
    right: 0;
    margin-left: auto;
    display: flex;
    place-items: center;
    height: auto;
    cursor: pointer;
}

@keyframes fade-out {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-10%);
    }
    30% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(-30%);
    }
    50% {
        transform: translateX(-40%);
    }
    60% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-60%);
    }
    80% {
        transform: translateX(-70%);
    }
    90% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(-90%);
    }
}

@keyframes fade-in {
    0% {
        transform: translateX(110%);
    }
    10% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(90%);
    }
    30% {
        transform: translateX(80%);
    }
    40% {
        transform: translateX(70%);
    }
    50% {
        transform: translateX(60%);
    }
    60% {
        transform: translateX(50%);
    }
    70% {
        transform: translateX(40%);
    }
    80% {
        transform: translateX(30%);
    }
    90% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(10%);
    }
}

@keyframes current-to-right {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(10%);
    }
    20% {
        transform: translateX(20%);
    }
    30% {
        transform: translateX(30%);
    }
    40% {
        transform: translateX(40%);
    }
    50% {
        transform: translateX(50%);
    }
    60% {
        transform: translateX(60%);
    }
    70% {
        transform: translateX(70%);
    }
    80% {
        transform: translateX(80%);
    }
    90% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(100%);

    }
}

@keyframes next-to-left {
    0% {
        transform: translateX(-100%);
    }
    10% {
        transform: translateX(-90%);
    }
    20% {
        transform: translateX(-80%);
    }
    30% {
        transform: translateX(-70%);
    }
    40% {
        transform: translateX(-60%);
    }
    50% {
        transform: translateX(-50%);
    }
    60% {
        transform: translateX(-40%);
    }
    70% {
        transform: translateX(-30%);
    }
    80% {
        transform: translateX(-20%);
    }
    90% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

.carousel .block:first-child {
    background: linear-gradient(90deg, rgba(204, 250, 91, 1) 10%, rgba(0, 212, 255, 1) 90%);
}

.carousel .block:nth-child(2) {
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 10%, rgba(67, 226, 191, 1) 90%);
}

.carousel .block:nth-child(3) {
    background: linear-gradient(90deg, rgba(67, 226, 191, 1) 10%, rgba(204, 250, 91, 1) 90%);
}

.carousel .block:nth-child(4) {
    background: linear-gradient(147deg, rgba(0,0,0,1) 0%, rgba(122,44,168,1) 29%, rgba(177,28,130,1) 46%, rgba(94,47,144,1) 61%, rgba(69,45,113,1) 77%, rgba(0,0,0,1) 100%);    h1{
        color: white;
    }
}
.carousel .block.active {
    display: grid;
    opacity: 1;
}

.carousel .block.fade-out {
    animation: fade-out 700ms forwards;
    display: flex;
    opacity: 0.9;
}

.carousel .block.fade-in {
    animation: fade-in 700ms backwards;
    display: flex;
}

.carousel .block.current-to-right {
    animation: current-to-right 700ms forwards;
    display: flex;
    opacity: 0.9;
}

.carousel .block.next-to-left {
    animation: next-to-left 700ms backwards;
    display: flex;
}


.test-container {
    background-color: #EDF0F2;
    height: auto;
    width: auto;
    filter: drop-shadow(0px -10px 20px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

div.first {
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
}

div.second {
    background: linear-gradient(45deg, rgba(133, 67, 251, 1) 20%, rgba(253, 140, 140, 1) 80%);
    border-radius: 10px;
    padding: 20px 40px;
    height: 100dvh;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;

    .image {
        filter: drop-shadow(-5px -7px 10px #CCFA5B) drop-shadow(5px 7px 10px #00FFFF);
    }

    .testfield {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0;
        background: #EDF0F2;
    }
}

div.third {
    margin-top: 30px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
    border-radius: 10px;

    h1.third-block {
        z-index: 1;
        font-size: 24px;
        font-weight: bold;
        color: black;
        position: absolute;
    }
}

.backgroundtests {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    height: auto;
    width: auto;
    border-radius: 10px 10px 0 0;
}

span {
    color: rgb(148, 191, 249, 0.2);
    top: 0;
    left: 0;
    font-size: 40px;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: marquee linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.row1 {
    top: 10%;
    animation-duration: 10s;
}

.row2 {
    top: 50%;
    animation-duration: 12s;
}

.row3 {
    top: 100%;
    animation-duration: 14s;
}


.third .tests {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100%;
    z-index: 2;
}

.third .tests .testfield {
    z-index: 2;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background 300ms linear;

    a h1 {
        place-content: center;
        font-size: 30px;
    }

}

.third .testfield:hover {
    animation: bleach 300ms linear forwards;
}

@keyframes bleach {
    0% {
        background-color: #EDF0F2;
    }
    25% {
        background-size: 200% 100%;
        background: linear-gradient(90deg, #EDF0F2 99%, #94bff9 100%) 100% 0;
    }
    50% {
        background-size: 200% 100%;
        background: linear-gradient(90deg, #EDF0F2 50%, #94bff9 100%) 50% 0;
    }
    75% {
        background-size: 200% 100%;
        background: linear-gradient(90deg, #EDF0F2 0%, #94bff9 50%) 0 0;
    }
    100% {
        background: linear-gradient(90deg, #EDF0F2 0%, #94bff9 0%) 0 0;
        border-radius: 0 0 10px 10px;
    }
}

.test-container {
    padding: 20px;
}

.first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 10px 0;
}

.second div, .third div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.test-container .testfield {
    width: auto;
    height: 100%;
    cursor: pointer;
}

@keyframes testhover {
    0% {
        height: 30%;
    }
    50% {
        height: 40%;
    }
    100% {
        height: 70%;
        border-radius: 10px;
        place-content: center;
    }
}

@keyframes imghover {
    0% {
        filter: blur(0px);
    }
    40% {
        filter: blur(0px);
    }
    50% {
        filter: blur(2px);
    }
    100% {
        filter: blur(5px);
    }
}

.test-container .testfield.alarm {
    animation: testhover 200ms forwards;
}

.test-container .testfield img.alarm {
    animation: imghover ease-in-out;
}

.testfield img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100%;
    padding-top: 10px;
}

.first {
    img.first {
        object-position: 100% 20%;
    }

    img.second {
        object-position: 100% 40%;
    }

    img.third {
        object-position: 100% 20%;
    }

    img.forth {
        object-position: 100% 25%;
    }

    img.fifth {
        object-position: 100% 35%;
    }
}

.testfield a {
    height: 30%;
    text-align: center;
    font-size: calc((0.5vh + 2vw) / 2);
    text-decoration: none;
    color: black;
}

.first .testfield:hover {
    img {
        animation: imghover 100ms forwards;
    }

    a {
        animation: testhover 200ms forwards;
    }

}

.second .testfield a {
    display: flex;
    place-content: center;

    h1 {
        place-content: center;
    }
}

.second .testfield:hover {
    animation: secondhover 300ms forwards;
}

@keyframes secondhover {
    0% {
        background-color: #EDF0F2;
    }
    100% {
        background: linear-gradient(53deg, rgba(226, 255, 153, 1) 0%, rgba(59, 202, 171, 1) 90%);
        box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 10px 2px;
    }
}

.test-container .blockname {
    width: 100%;
    border: none;
    box-shadow: none;
}

.blockname h1 {
    text-align: center;
}

.test-container .first {
    .blockname {
        grid-area: 1 / 1 / 2 / 6;
    }

    .test-first {
        grid-area: 2 / 1 / 4 / 4;
    }

    .test-second {
        grid-area: 2 / 4 / 4 / 6;
    }

    .test-third {
        grid-area: 4 / 1 / 6 / 3;
    }

    .test-fourth {
        grid-area: 4 / 3 / 6 / 6;
    }

    .test-fifth {
        grid-area: 6 / 1 / 8 / 6;
    }
}

.test-container .second {
    .blockname {
        grid-area: 1 / 1 / 2 / 5;
    }

    .image {
        grid-area: 2 / 1 / 6 / 3;
    }

    .test-first {
        grid-area: 2 / 3 / 4 / 5;
    }

    .test-second {
        grid-area: 4 / 3 / 6 / 5;
    }
}


.coming {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 100%;
    width: 100%;
}

.coming h1 {
    padding: 20px;
}

.coming .picture {
    display: flex;
    place-content: center;
}

.coming .picture img {
    object-fit: contain;
    object-position: 100%;
    max-height: 70%;
    max-width: 70%;
}

.fourth  {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;

    .blockname {
        position: absolute;
        margin-top: 10px;
        top: 20px;
        text-align: center;
        width: 100%;
        color: #EDF0F2;
    }

    .planets-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .orb {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.5s ease, z-index 0.5s ease;
        cursor: pointer;
        top: 0;

    }

    .orb1 {
        box-shadow: inset 0 0 50px #fff,
        inset 20px 0 80px #94bff9,
        inset -20px 0 80px violet,
        inset 20px 0 300px #94bff9,
        inset -20px 0 300px violet,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
    }

    .orb2 {
        box-shadow: inset 0 0 50px #fff,
        inset 20px 0 80px hotpink,
        inset -20px 0 80px cornflowerblue,
        inset 20px 0 300px hotpink,
        inset -20px 0 300px cornflowerblue,
        0 0 50px #fff,
        -10px 0 80px pink,
        10px 0 80px lightskyblue;
    }

    .orb3 {
        box-shadow: inset 0 0 50px #fff,
        inset 20px 0 80px orange,
        inset -20px 0 80px greenyellow,
        inset 20px 0 300px orange,
        inset -20px 0 300px greenyellow,
        0 0 50px #fff,
        -10px 0 80px orange,
        10px 0 80px lawngreen;

    }

    .orb:hover {
        transform: scale(1.1);
    }

    .orb.active {
        z-index: 10;
        transform: scale(1.5);
        animation: float 3s linear infinite;;
    }

    .testcontainers {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 50%;
    }

    .orbtest {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .testfield {
        text-align: center;
        padding: 10px 40px;
        border-radius: 5px;
        height: auto;
        width: 100%;
        h1{
            color: #94bff9;
        }
    }

    .orbtest.active {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly ;
        border: 6px outset #94bff9;
        background-color: rgb(148, 191, 249, 0.1);
        padding: 0 10px;
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .testfield:hover{
        animation: scale 150ms linear forwards;
    }
    .testfield:active{
        color: rgb(148, 191, 249,0.9);
        animation: scale 300ms linear backwards;
    }
    .testfield:focus-within{
        color: rgb(148, 191, 249,0.9);
    }
}
@keyframes float {
    50%{
        top:10px;
    }
}
@keyframes scale {
    100%{
        transform: scale(1.3);
    }
}
